body {
  width:90%;
  margin:auto;
}

th {
  vertical-align:top;
  text-align:center;
  background-color:#C9DAF8;
}

td {
    padding:5px;
    vertical-align:center;
}

th {
  
}

ul {
   margin:0;
}

#organization {
  margin:auto;
  width:900px;
  text-align:center;
}
table{
  text-align:left;
}